
.ipynb_checkpoints/Advanced_Validation-checkpoint.ipynb

Advanced_Validation/.ipynb_checkpoints/Advanced_Validation-checkpoint.ipynb

Boston_housing/.ipynb_checkpoints/boston_assignment-checkpoint.ipynb

Logistic_Regression_Titanic/.ipynb_checkpoints/Week_6_Moyer-checkpoint.ipynb

Naive_Bayes/.ipynb_checkpoints/Week8HW-checkpoint.ipynb
